/*END MODAL DIALOG*/
body {
overflow: hidden;
}

/* ini: Preloader */

#preloader {
position: absolute;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.5); /* cor do background que vai ocupar o body */
z-index:9999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
position: absolute;
top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
left: 50%;
transform: translate(-50%, -50%);
}
.bolas > div {
display: inline-block;
background-color: #ddd;
width: 25px;
height: 25px;
border-radius: 100%;
margin: 3px;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: animarBola;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
.bolas > div:nth-child(1) {
animation-duration:0.75s ;
animation-delay: 0;
}
.bolas > div:nth-child(2) {
animation-duration: 0.75s ;
animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
animation-duration: 0.75s  ;
animation-delay: 0.24s;
}

@keyframes animarBola {
0% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1;
}
16% {
-webkit-transform: scale(0.1);
transform: scale(0.1);
opacity: 0.7;
}
33% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1;
}
}
/* end: Preloader */

/* End button */
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
	50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 0.6s linear infinite;
  animation: lds-eclipse 0.6s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 rgba(3, 104, 117, 0.993);
  -webkit-transform-origin: 80px 82px;;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
