html,
body {
    background-image: url('../assets/images/bg01.jpg');
    background-size: cover;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    /* background: #ccc; */
}
.icon-login{
    max-width: 30%;
    border-radius: 50% !important;
}
.background{
    background: rgba(0,0,0,0.55);
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    /* border: 1px dashed #FFF; */
    
    align-items: center;
  
    justify-content: center;

}
#data-control{
    width: 100%;
}
#data-pesp{
    width: 100%;
    
}

td{
    padding: 0.5%;
    border: 1px solid #ddd;
    text-align: left;
}
table{
    border-spacing: 0;
    border-collapse: collapse !important;
}
.container-registers{
    display: flex;
    /* border: 1px dashed #900; */
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    flex-direction: column;
    
}
.title-registers{
    display: flex;
    border: 0.5px solid #b3e7ff;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #44a3a6;
    background: #e6f7ff;
    padding: 0.5%;
    
}
.total-registros{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed #ccc; */
    color: #000;
    font-size: 0.9em;
    width: 100%;
    flex-direction: column;
    /* margin-top: 10px;   */
}
.title{
    display: flex;
    flex: 1;
    align-items: left;
    /* border: 1px dashed #ccc; */
    color: #44a3a6;
    font-size: 0.9em;
    width: 100%;
    flex-direction: column; 
    border: 1px solid #ccc;
    padding: 0.6%;
    background:#e6f7ff;
    border: 0.5px solid #b3e7ff;
}

.total-creditos{
    display: flex;
    flex: 1;
    /* border: 1px dashed #666; */
    justify-content: center;
    align-items: center;
    color: #28a745;
    font-size: 1.1em;
}
.total-debitos{
    display: flex;
    flex: 1;
    /* border: 1px dashed #666; */
    justify-content: center;
    align-items: center;
    color:red;
    font-size: 1.1em;
}
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: #666;
}

/* selected link */
a:active {
    color: grey;
}

.logout:link {
    color: grey;
}

/* visited link */
.logout:visited {
    color: grey;
}

/* mouse over link */
.logout:hover {
    color:red;
}

/* selected link */
.logout:active {
    color: grey;
}
.file{
    font-size: 1.5em;
    color: #666;
}
.logo-xlsx {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
.wrapper {
    display: flex;
    margin: 0 auto;
    border: 1px solid #FFF;
    width: 60%;
    height: 70%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    background: #FFF;
    flex-direction: column;
    /* box-shadow: 0px 1px 4px #787D77; */
    padding: 2%;
    background: rgba(255,255,255,0.85);
}
.btn-info {
    
    box-shadow: 0px 1px 4px #ddd;
    background-color: #44a3a6 !important;
    border-color: #44a3a6 !important;
}
.btn-info:hover{
    background: #3b8e91 !important;
}
.top {
    display: flex;
    flex: 4;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    flex-direction: column;
    
}

.footer {
    display: flex;
    flex: 2;
    /* border: 1px dashed #000; */
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.footer-back {
    /* display: flex;
    flex: 2; */
    /* border: 1px dashed #ccc; */
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    text-align: right;
    padding: 2%;
}

.buttons {
    display: flex;

    width: 100%;
    height: 60px;
    /* border: 1px dashed #000; */
    justify-content: center;
    justify-content: space-around;

}

.width-buttons {
    width: 90%;
    margin: 0px 10px 0px 10px;
}

.yellow {
    color: #FFBF00;

}
.info{
    color: #44a3a6;
}
.gray{
    color: gray;
}
.btn-warning,
.btn-warning:hover {
    color: #FFF !important;
    /* font-size: 1.3em; */
    /* font-weight: bold; */
    box-shadow: 0px 1px 4px #ddd;

}
.modal-dialog{
    max-width: 85%;
}
.bold{
    font-weight: 600;
}
.btn-danger{
    background: red;
}
.btn-danger:hover{
    background: #900;
}
.true{
    color: green;
}
.error{
    color: red;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
        height: 06px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #000;
    border-left: 0px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #ddd;
        border-radius:5px;
        height: 06px;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #ccc
}
.font20{
    font-size:20px;
}

input[type="text"], input[type="password"] {
    width: 100% !important;
    display: block !important;
    border: none !important;
    outline: none !important;
    color: green !important;
    background: transparent !important;
}

@media (min-width: 0px) AND (max-width: 1366px) {

    
    .wrapper {
        width:70%;
        height: 75%;
        font-size: 0.8em;
    }
    h1{
        font-size: 1.9em;
    }
    
}