html, body {
    display: flex;
    flex: 1;
    background-image: url('../assets/images/bg01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* font-size: 1.1em; */
    border: 0px dashed #000;
}

img {
    max-width: 150px;
}

a:link {
    color: #44a3a6;
}

/* visited link */

a:visited {
    color: grey;
}

/* mouse over link */

a:hover {
    color: #44a3a6 !important;
}

/* selected link */

a:active {
    color: grey;
}

.red {
    color: red;
}

.wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.login-left {
    /* border: 1px dashed #000; */
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #44a3a6;
}

.login-right {
    /* border: 1px dashed #000; */
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: left;
    padding: 10px;
}

.panel {
    /* background: #FFF; */
    background: rgba(255,255,255,0.85);
    /* border: 1px solid #ddd; */
    padding: 6% 2% 2% 2%;
    border-radius: 5px;
    width: 22%;
    height: 48%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 4px rgb(25, 26, 25);
}

.logo {
    display: flex;
    color: #fff;
    /* background: rgb(68, 163, 166); */
    /* background: linear-gradient(90deg, rgba(68, 163, 166, 0.85) 0%, rgba(84, 199, 203, 1) 100%); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    /* background: rgba(255, 251, 251, 0.95); */
    background: rgba(255,255,255,0.90);
    border: 0.5px solid #ddd;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    width: 18%;
    height: 12%;
    box-shadow: 0px 1px 2px rgb(187, 183, 183);
    font-weight: 600;
}

.inputs {
    margin-bottom: 10px;
}

.login {
    display: flex;
    flex: 1;
    /* border: 1px dashed #000; */
}

.password {
    display: flex;
    flex: 1;
    /* border: 1px dashed #000; */
    margin-top: 20px;
}

.footer {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #000;
}
.text-footer{
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    /* border: 1px dashed #FFF; */
    

}

.footer-login {
    display: flex;
    flex: 1;
    /* border: 1px dashed #000; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 1%;
}

.right {
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    margin-top: 10px;
    /* border: 1px dashed #000; */
    align-items: center;
    font-weight: 500;
    flex-direction: column;
}

.hr {
    color: white;
    border: 2px solid #fff;
}

.bold {
    font-weight: bold;
}

.app {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    background: #fff;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

.appPanel {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #fff;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.btn-danger {
    background-color: red !important;
}

.btn-info {
    width: 100%;
    /* box-shadow: 0px 1px 4px #787D77; */
    background-color: #44a3a6 !important;
    border-color: #44a3a6 !important;
}

.btn-info:hover {
    background: #3b8e91 !important;
}

.btn-secondary {
    width: 100%;
    box-shadow: 0px 1px 4px #787D77;
}

input[type="text"], input[type="password"] {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    color: #787D77;
    background: transparent;
}

.input {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

/* Largura da barra de rolagem */

::-webkit-scrollbar {
    width: 10px;
    height: 06px;
}

/* Fundo da barra de rolagem */

::-webkit-scrollbar-track-piece {
    background-color: #000;
    border-left: 0px solid #CCC
}

/* Cor do indicador de rolagem */

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    background-color: #ddd;
    border-radius: 5px;
    height: 06px;
}

/* Cor do indicador de rolagem - ao passar o mouse */

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #ccc;
}

@media (min-width: 1920px) {

    img {
        max-width: 180px;
    }
    .logo {
        top: 23%;
    }
    .panel {
        /* background: #FFF; */
        background: rgba(255,255,255,0.85);
        padding: 6% 2% 2% 2%;
        border-radius: 5px;
        width: 22%;
        height: 42%;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 4px rgb(25, 26, 25);
        font-size: 1.1em;

    }
    
}
@media (min-width: 0px) AND (max-width: 1366px) {

    img {
        max-width: 120px;
    }
    .logo {
        top: 20%;
    }
    .panel {
        width: 22%;
        height: 50%;
        font-size: 0.8em;
    }
    
    
}